<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8" />
<title>MyWorld</title>
<!-- <script th:src="@{../static/common/common.js}"></script> -->
<style type="text/css">
body {
	background: url(../static/image/home.jpg) no-repeat center 0px;;
	background-size: cover;
	background-attachment: fixed;
	background-color: #CCCCCC;
}
</style>
</head>
<body>
	<h1>hello jdmj</h1>
	<!-- <iframe th:src="@{biubiu.html}" scrolling="no" height="400" width="1000" ></iframe> -->
	<!-- 	<iframe th:replace="biubiu::html"></iframe> -->
	<iframe th:replace="main::html"></iframe>
</body>
</html>